<div class="dropdown"
     ng-click="onClick(fidget, fidget.properties.onClick)">
    <select class="form-control"
            ng-model="fidget.properties.value"
            style="width: {{fidget.properties.width}}px; height: {{fidget.properties.height}}px;color:{{fidget.properties.fontColor}};font-family: {{fidget.properties.font || 'inherit'}}; font-size: {{fidget.properties.fontSize}}px;"
            ng-options="option for option in fidget.properties.options.split(',')"></select>

    <div class="overLayer"
         style="width: {{fidget.properties.width - 20}}px; height: {{fidget.properties.height - 4}}px;color:{{fidget.properties.fontColor}};font-family: {{fidget.properties.font || 'inherit'}}; font-size: {{fidget.properties.fontSize}}px;">
        <div>
            <div>
                {{fidget.properties.value}}
            </div>
        </div>
    </div>
</div>
